.product-details
    background: #F4F4F2
    padding: 40px 30px 100px 30px
    h1
        font-size: 48px
        font-weight: bold
        color: #495464
        margin-bottom: 40px


    &__content
        display: flex
        align-items: center
        gap: 30px


    &__image
        width: 100%
        margin-left: 50px
        flex: 1

        img
            width: 300px
            height: auto
            display: block

.product-info
    flex: 2
    p
        margin: 20px 0px

    &__button
        background: #FF6900
        border: none
        padding: 10px 85px
        color: #F4F4F2
        font-size: 12px
        margin-top: 15px
        cursor: pointer

    

    &__price
        font-size: 24px
        font-weight: 600
    
    &__bottom
        display: flex
        justify-content: space-between
        align-items: flex-end




.product-quantity
    display: flex
    align-items: center
    gap: 15px
    button
        border: none
        font-size: 30px
        background: #F4F4F2
        cursor: pointer


    &__number
        font-size: 14px
        font-weight: 600

    
.compare
    position: absolute
    top: 150px
    right: 50px
    display: flex
    align-items: center
    gap: 10px
    font-size: 15px
    cursor: pointer
    
.product-colors 
    &__list 
        display: flex
        gap: 28px
        padding: 0
        margin: 16px 0
        list-style: none


    &__item 
        display: flex
        flex-direction: column
        align-items: center
        cursor: pointer
        gap: 6px


.color-dot 
    width: 26px
    height: 26px
    border-radius: 50%
    border: 2px solid transparent


.product-colors__item.active .color-dot 
    border-color: #000


.color-dot.black 
    background-color: #000


.color-dot.grey 
    background-color: #cfcfcf


.color-dot.white 
    background-color: #ffffff
    border: 1px solid #ccc


.color-label 
    font-size: 14px






.product-spec
    background: #F4F4F2
    padding: 40px 30px 100px 30px
